@font-face { font-family: 'iconFont'; src: url('./font/iconFont.eot'); src: url('./font/iconFont.eot?#iefix') format('embedded-opentype'), url('./font/iconFont.svg#iconFont') format('svg'), url('./font/iconFont.woff') format('woff'), url('./font/iconFont.ttf') format('truetype'); font-weight: normal; font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
        font-family: 'iconFont';
        font-style: normal;
        speak: none;
        font-weight: normal;
        display: inline-block;
        text-decoration: inherit;
        margin: 0 2px;
        -webkit-font-smoothing: antialiased;
        border: 1px transparent solid;
        text-decoration: none;
}
#tree {
     background: #F1F2F7
}
.link {
    fill: none;
    stroke: #ddd;
    stroke-width: 1.5px;
}
.circle {
    stroke: #ccc;
    stroke-width: 4px;
    fill: #fff;
    cursor: pointer;
}
.link.active {
    stroke: red;
}
.circle.active {
    stroke: red;
}
.nodeText:hover {
    text-decoration: underline;
    cursor: pointer;
}
.node.collapsed circle { 
    stroke: #4D8CBF; 
    stroke-width: 4px; 
    fill: #F5F8FB; 
}
.rightBottomWrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: none;
    background-color: #FFF;
    border-top-left-radius: 3px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    padding: 5px;
}
.rightBottomWrapper td {
    text-align: center;
    vertical-align: middle;
    color: #AAA;
    font-size: 21px;
    width: 21px;
    height: 21px;
    line-height: 1.1;
    padding: 0;
}
.iconWrapper:hover { 
    color: #FFF; 
    background-color: #4BC3BC; 
    cursor: pointer; 
}
.icon-arrow-up-5:before {
    content: "\e1b2";
}
.icon-arrow-left-5:before {
    content: "\e1b0";
}
.icon-arrow-right-5:before {
    content: "\e1b3";
}
.icon-arrow-down-5:before {
    content: "\e1b1";
}
.icon-zoom-in:before {
    content: "\e042";
}
.icon-zoom-out:before {
    content: "\e043";
}